@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Kanit:wght@500&family=Roboto:wght@500&display=swap');

:root {
    --main-bg-color: brown;

    /*Fonts to use shortcut */
    --font1: 'Roboto', sans-serif;
    --font2: 'Delicious Handrawn', cursive;
    --font3: 'Kanit', sans-serif;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 50vw;
}

.m-auto {
    margin: auto;
}

.form-input {
    padding: 10px 15px;
    font-size: 10px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font3);

}

.btn {
    padding: 4px 10px;
    border: 3px solid black;
    border-radius: 15px;
    font-family: var(--font3);
    cursor: pointer; /* Convert cursor to pointer when hovered */
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: var(--main-bg-color);
    color: white;
}